<form #registerForm="ngForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <!--to reiterate again for myself in order to make this form angular we use the form template-->
  <!--    outlined above in the # ande the ngSubmit method. to set up the buttons they need a name-->
  <!--    for angular to recognize and a [(ngModel)] to pass variables to the component.ts-->
  <!--    the click methoid call for the buttons is called with the (click) tag as shown on cancel button-->

  <div class="form-group">
    <input type="text" class="form-control" required name="username" [(ngModel)]="model.username" placeholder="Username">
  </div>

  <div class="form-group">
    <input type="password" class="form-control" required name="password" [(ngModel)]="model.password" placeholder="Password">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
  
</form>